{% extends 'core/base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

<style>
    .categorias {
      display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 20px;
      box-shadow: 0 3px #999;
    }
    
    .categorias:hover {background-color: #3e8e41}
    
    .categorias:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }

</style>

<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #1a8844;">
    <div class="btnWithSliderEffect">
    <a class="navbar-brand" onclick="changePage('/')" role="button">The Diode</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li>
                <img src="{% static 'core/imagens/Diode.png' %}" style="width:8%;">
            </li>
        </ul>
    </div>
</nav>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="fromLeft">
            <div class="container">
                <h1 class="display-3">The Diode</h1>
                <p>Nothing beats the knowledge of a thousand projects. Remember to organize every reusable component.</p>
            </div>

            <div class="container">
                <p><a href="http://tictorslab.blogspot.com/" role="button">&copy; Tictor's Lab 2021 &raquo;</a></p>
            </div>
        </div>
    </div>


    <div class="fromLeft">

        <!-------------------- Connections -------------------->
        <div class="container">
            <h1 class="section-title">Connections</h1>
        </div>
        <div class="interface-container">
            <div class="canvas-container"></div>
            <canvas id="connectionCanvas" width="1100" height="500">
            </canvas>
            <div class="interface-grid-container">
                <div class="interface-grid" id="interface-grid">
                    <!--Project lines-->
                    {% for connection in interface_connections %}
                        <div id="{{ connection.id1 }}-{{ connection.id2 }}-line" class="line-connection" style="position: relative; background-color: rgb(0, 0, 55); grid-row:{{ connection.start_grid_row }}; grid-column:{{ connection.start_grid_col }}; transform: rotate({{ connection.angle }}rad) scale({{ connection.scale }}, 0.3); left:{{ connection.translate_x }}px; top:{{ connection.translate_y }}px;">
                        </div>
                    {% endfor %}
                    <!--Project items-->
                    {% for project in interface_projects_position %}
                        {% if project.grid_row != 0 and project.grid_col != 0 %}
                            <div id="{{ project.id }}-item" class="interface-item" data-model="{{ project.model }}" data-pk="{{ project.pk }}" draggable="true" style="grid-row:{{ project.grid_row }}; grid-column:{{ project.grid_col }};">
                                <img src="/static/core/imagens/{{project.model}}.gif" style="width:100%;" data-name="{{ project.name }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                    <!--Project lines balloons-->
                    {% for connection in interface_connections %}
                        <div id="{{ connection.id1 }}-{{ connection.id2 }}-baloon" class="line-menu-baloon" style="grid-row:{{ connection.middle_grid_row }}; grid-column:{{ connection.middle_grid_col }};">
                            <div class="triangle-left-border"></div>
                            <div class="triangle-left-white"></div>
                            <ul id="{{ connection.id1 }}-{{ connection.id2 }}" class="line-menu">
                                <li><a class="btn-menu page" role="button">Configure connection</a></li>
                                <li><a class="btn-menu line del" role="button" id="{{ connection.id1 }}-{{ connection.id2 }}" data-start_name="{{ connection.start_name }}" data-end_name="{{ connection.end_name }}">Delete</a></li>
                            </ul>
                        </div>
                    {% endfor %}
                    <!--Project items balloons-->
                    {% for project in interface_projects_position %}
                        {% if project.grid_row != 0 and project.grid_col != 0 %}
                            <div id="{{ project.id }}-baloon" class="item-menu-baloon" style="grid-row:{{ project.grid_row }}; grid-column:{{ project.grid_col }};">
                                <div class="triangle-left-border"></div>
                                <div class="triangle-left-white"></div>
                                <ul id="{{ project.id }}" class="item-menu">
                                    <li><div class="btnWithSliderEffect"><a class="btn-menu page" role="button" onclick="changePage('/rgbframe')">Project page</a></div></li>
                                    <li><a class="btn-menu create" role="button" id="{{ project.id }}" data-model="{{ project.model }}" data-pk="{{ project.pk }}" data-name="{{ project.name }}">Create connection</a></li>
                                    <li><a class="btn-menu item del" role="button" id="{{ project.id }}" data-model="{{ project.model }}" data-pk="{{ project.pk }}" data-name="{{ project.name }}">Delete</a></li>
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="interface-projects-container">
                <p style="padding-left: 15px; padding-top: 5px">Projects list selector</p>
                <!--Project items in list-->
                <div class="interface-projects" id="interface-projects">
                    {% for project in interface_projects_position %}
                        {% if project.grid_row == 0 and project.grid_col == 0 %}
                            <div id="{{ project.id }}-item" class="interface-item list" data-model="{{ project.model }}" data-pk="{{ project.pk }}" data-inlist="true" draggable="true" style="grid-row:{{ project.grid_row }}; grid-column:{{ project.grid_col }};">
                                {{ project.name }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-------------------- DASHBOARD -------------------->
        <div class="container">
            <h1 class="section-title">Dashboard</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, ipsam doloremque. Facilis eius, eligendi nisi doloribus soluta ad minima rerum, a ab voluptate temporibus debitis. Esse perferendis nisi adipisci labore?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, ipsam doloremque. Facilis eius, eligendi nisi doloribus soluta ad minima rerum, a ab voluptate temporibus debitis. Esse perferendis nisi adipisci labore?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, ipsam doloremque. Facilis eius, eligendi nisi doloribus soluta ad minima rerum, a ab voluptate temporibus debitis. Esse perferendis nisi adipisci labore?</p>
        </div>

        <!-------------------- PROJECT EXPLORER -------------------->
        <div class="container">
            <h1 class="section-title">Project explorer</h1>
        </div>

        <div class="card-container">
            <div class="card-class">
                <div class="card Cyan Converter">
                    <p class="card-name">Cyan Converter</p>
                    <div class="card-bg Cyan Converter"></div>
                    <xp class="container">
                        <div class="grid-home-btn">
                            <div class="item-1">
                                <div class="card-img Cyan Converter"></div>
                            </div>
                            <div class="item-2">
                                <p class="tech-description">5V power supply with wattimeter</p>
                                <p class="full-description">Need to power all the projects in your lab but dont want to use batteries nor many converters? Stick all in this amazing 5V power supply!</p>
                                <div class="btnWithSliderEffect">
                                    <a class="categorias" onclick="changePage('/cyanConverter')" role="button">Know more</a>
                                </div>
                            </div>

                            <div class="close-btn">
                                <a class="categorias" role="button">x</a>
                            </div>
                        </div>
                    </xp>
                </div>
                <div class="card Modular Storage Pannel">
                    <p class="card-name">Modular Storage Pannel</p>

                    <xp class="container">
                        <div class="grid-home-btn">
                            <div class="item-1">
                                <div class="btnWithSliderEffect">
                                    <a class="categorias" onclick="changePage('/painel')" role="button">Painel de Armazenamento Modular</a>
                                </div>
                            </div>
                            <div class="item-2">
                                <div class="btnWithSliderEffect">
                                    <a class="categorias" onclick="changePage('/componentes')" role="button">Lista de componentes no banco de dados</a>
                                </div>
                            </div>
                        </div>

                        <div class="close-btn">
                            <a class="categorias" role="button">x</a>
                        </div>
                    </xp>
                </div>
                <div class="card Tennis Machine">
                    <p class="card-name">Tennis Machine</p>

                    <xp class="container">
                        <div class="grid-home-btn">
                            <div class="item-1">
                                <p>...</p>
                            </div>
                        </div>

                        <div class="close-btn">
                            <a class="categorias" role="button">x</a>
                        </div>
                    </xp>

                </div>
                <div class="card Led Frame">
                    <p class="card-name">Led Frame</p>

                    <xp class="container">
                        <div class="grid-home-btn">
                            <div class="item-1">
                                <div class="btnWithSliderEffect">
                                    <a class="categorias" onclick="changePage('/rgbframe')" role="button">Project Page</a>
                                </div>
                            </div>
                        </div>

                        <div class="close-btn">
                            <a class="categorias" role="button">x</a>
                        </div>
                    </xp>

                </div>
                <div class="card Synthesizer">
                    <p class="card-name">Synthesizer</p>

                    <xp class="container">
                        <div class="grid-home-btn">
                            <div class="item-1">
                                <p>...</p>
                            </div>
                        </div>

                        <div class="close-btn">
                            <a class="categorias" role="button">x</a>
                        </div>
                    </xp>

                </div>
                <div class="card Small Projects">
                    <p class="card-name">Small Projects</p>

                    <xp class="container">
                        <div class="grid-home-btn">
                            <div class="item-1">
                                <p>...</p>
                            </div>
                        </div>

                        <div class="close-btn">
                            <a class="categorias" role="button">x</a>
                        </div>
                    </xp>

                </div>
            </div>
        </div>

    </div>

</main>
{% endblock %}