<form hx-post="{{ request.path }}" class="modal-content">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Create new sequence pattern</h5>
    </div>
    <div class="modal-body">
      {{ form.as_p }}
    </div>

    <div class="modal-footer">
      <button type="button" class="btn-modal-cancel" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn-modal-submit" onclick="changePageFast('/rgbframe/explore{{ frame_id }}/sequencepattern{{ seqpatt_id }}')">Create</button>
    </div>
  </form>