{% extends 'core/base.html' %}
{% load static %}

{% block title %} Painel de Armazenamento Modular {% endblock %}

{% block content %}

<style>
    .categorias {
      display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #4cafaa;
      border: none;
      border-radius: 20px;
      box-shadow: 0 3px #999;
    }
    
    .categorias:hover {background-color: #3e7e8e}
    
    .categorias:active {
      background-color: #3e718e;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }

</style>

<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #1a8844;">
    <div class="btnWithSliderEffect" role="home">
    <a class="navbar-brand" onclick="changePage('/')" role="button">The Diode</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li>
                <img src="{% static 'core/imagens/Diode.png' %}" style="width:8%;">
            </li>
        </ul>
    </div>
</nav>

<main role="main">

    <div class="fromRight">
        <div class="rgbframe-strip-container" id="strip-container">

            <div class="rgbframe-strip-info-container">

            </div>
            <div class="rgbframe-strip-rulesequence-container">
                <div class="rgbframe-strip-rulegroup-container">
                    <div class="rgbframe-strip-rules-container">
                        {% for rule in rules %}
                        <div class="rgbframe-strip-rule-container">
                            <div>rule.info</div>
                            <a class="rgbframe-strip-btn editrule" role="button" onclick="">Edit</a>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="rgbframe-strip-buttons">
                        <a class="rgbframe-strip-btn addrule" role="button" onclick="">Add new rule</a>
                        <a class="rgbframe-strip-btn delrule" role="button" onclick="">Clear rules</a>
                    </div>
                </div>

                <div class="rgbframe-strip-sequencegroup-container">
                    <div class="rgbframe-strip-sequences-container">
                        {% for sequence in sequences %}
                        <div class="rgbframe-strip-sequencepatternitem-container">
                            <div class="rgbframe-strip-sequencepattern-container">
                                <a class="rgbframe-strip-btn editseqpatt" role="button" hx-get="/rgbframeEditSeqPatt{{ id }}/{{ forloop.counter0 }}" hx-target="#dialog">Edit</a>
                                <a class="rgbframe-strip-btn delseqpatt" role="button" hx-get="/rgbframeDelSeqPatt{{ id }}/{{ forloop.counter0 }}" hx-target="#dialog">Delete</a>
                                <div class="rgbframe-strip-sequencepattern-text">Sequence pattern&nbsp;</div>
                                <div class="btnWithSliderEffect"><b><a class="rgbframe-strip-sequencepattern-text" role="button" onclick="changePage('/rgbframe/explore{{ id }}/sequencepattern{{ sequence.id }}')" style="color: rgb(21, 0, 255);">{{ sequence.name }}</a></b></div>
                                <div class="rgbframe-strip-sequencepattern-text">&nbsp;repeating <b>{{ sequence.times }}</b> times in <b>{{ sequence.speed }}</b> speed</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="rgbframe-strip-buttons">
                        <a class="rgbframe-strip-btn addseqpatt" role="button" hx-get="/rgbframeAddSeqPatt{{ id }}" hx-target="#dialog">Add new sequence pattern</a>
                        <a class="rgbframe-strip-btn createseqpatt" role="button" hx-get="/rgbframeCreateSeqPatt{{ id }}" hx-target="#dialog">Create sequence pattern</a>
                        <a class="rgbframe-strip-btn delsequence" role="button" onclick="">Clear sequence patterns</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

<div id="modal" class="modal fade">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>

</main>

<footer class="container">
    <p><a href="http://tictorslab.blogspot.com/" role="button">&copy; Tictor's Lab 2021 &raquo;</a></p>
</footer>
{% endblock %}