{% extends 'core/base.html' %}
{% load static %}

{% block title %} Painel de Armazenamento Modular {% endblock %}

{% block content %}

<style>
    .categorias {
      display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #4cafaa;
      border: none;
      border-radius: 20px;
      box-shadow: 0 3px #999;
    }
    
    .categorias:hover {background-color: #3e7e8e}
    
    .categorias:active {
      background-color: #3e718e;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }

</style>

<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #1a8844;">
    <div class="btnWithSliderEffect" role="home">
    <a class="navbar-brand" onclick="changePage('/')" role="button">The Diode</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li>
                <img src="{% static 'core/imagens/Diode.png' %}" style="width:8%;">
            </li>
        </ul>
    </div>
</nav>

<main role="main">

    <div class="fromRight">
        <div class="rgbframe-main-container">
            {% for rgbframe in rgbframe_all %}
                <div class="rgbframe-main-project-container">
                    <div class="rgbframe-main-project-name">{{ rgbframe.name }}</div>
                    <div class="btnWithSliderEffect"><a class="rgbframe-main-btn explore" role="button" onclick="changePage('/rgbframe/explore{{ rgbframe.id }}')">Explore</a></div>
                </div>
            {% endfor %}
        </div>
    </div>


</main>

<footer class="container">
    <p><a href="http://tictorslab.blogspot.com/" role="button">&copy; Tictor's Lab 2021 &raquo;</a></p>
</footer>
{% endblock %}