{% extends 'core/base.html' %}
{% load static %}

{% block title %} Search {% endblock %}

{% block content %}

<style>
    #btn-modificar {
    padding-left: 16px;
    }
</style>

<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #1a8844;">
    <div class="btnWithSliderEffect" role="home">
    <a class="navbar-brand" onclick="changePage('/')" role="button">The Diode</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li>
                <img src="{% static 'core/imagens/Diode.png' %}" style="width:8%;">
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Categorias</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    {% for categoria in categorias %} 
                        <a class="dropdown-item" href="/componentes/categoria{{ categoria.id }}">{{ categoria.name }}</a>
                    {% endfor %}
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <div class="btnWithSliderEffect">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
        </form>
    </div>
</nav>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="fromRight">
            <div class="container">
                <h1 class="display-3">Pesquisa para {{request.GET.q}}</h1>
                <p>Esse é um site para organizar a minha lista de componentes eletrônicos, e possíveis outras coisas interessantes que possam ser integradas.</p>
            </div>
        </div>
    </div>

    <div class="fromRight">
    <div class="container">
        <div class="row">
            {% for componente in componentes %} 
            <div class="col-md-4">  
                <h2>{{ componente.tipo }} {{ componente.name }}</h2>
                <p>Quantidade: {{ componente.quantidade }}</p>
                <div class="row">
                    <div id="btn-modificar">
                        <div class="btnWithSliderEffect">
                        <button class="btn btn-secondary" onclick="changePage('/componentes/categoria{{ componente.tipo.categoria.id }}/tipo{{ componente.tipo.id }}/componente{{ componente.id }}')" role="button" style="background-color: #808080;">Modificar</button>
                        </div>
                    </div>
                </div>
                <p></p>
            </div>
            {% endfor %}
        </div>

        <hr>

    </div>
    </div>

</main>

<footer class="container">
    <p><a href="http://tictorslab.blogspot.com/" role="button">&copy; Tictor's Lab 2021 &raquo;</a></p>
</footer>
{% endblock %}