@font-face {
  font-family: "FeelfreePersonalUseRegular-lg2Bw";
  src: url("fonts/FeelfreePersonalUseRegular-lg2Bw.ttf") format("truetype");
}


body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.fromLeft {
  opacity: 0%;
}
.fromRight {
  opacity: 0%;
}

/***************** Modular Storage Panel *****************/
.categorias {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 20px;
  box-shadow: 0 3px #999;
}

.categorias:hover {background-color: #3e8e41}

.categorias:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/***************** RGB Frame *****************/
.rgbframe-main-container{
  padding-top: 75px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  border-color: #000000;
}

.rgbframe-main-project-container{
  display: flex;
}

.rgbframe-main-project-name{
  color: white;
  font-weight: 700;
  background-color: #95b8f9;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 0.2rem;
}

.rgbframe-main-btn{
  position: relative;
  left: 15px;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
  font-size: 15px;
  font-weight: 100;

  /* Middle border */
  border: 0.15rem outset rgb(188, 199, 255);
  border-radius: 0.2rem;
  /* Outer border */
  outline: 0.05rem solid rgb(0, 0, 0);
  /* Bg color */
  background-color: #95b8f9;
}

.rgbframe-strip-btn.explore {
  color: rgb(95, 95, 95);
}

/*** RGB Frame Strip ***/
.rgbframe-strip-container {
  padding-top: 75px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  height: 600px;
  display: flex;
}

.rgbframe-strip-info-container{
  width: 70%;
  height: 100%;
  background-color: #a4cdd6;
  border: 0.2rem solid rgb(0, 0, 0);
}

.rgbframe-strip-rulesequence-container{
  width: 100%;
}

.rgbframe-strip-rulegroup-container {
  position: relative;
  background-color: #a4cdd6;
  border: 0.2rem solid rgb(0, 0, 0);
  height: 50%;
}

.rgbframe-strip-rules-container {
  background-color: #b0dce6;
  height: 77%;
  overflow: auto;
}

.rgbframe-strip-sequencegroup-container {
  position: relative;
  background-color: #a4cdd6;
  border: 0.2rem solid rgb(0, 0, 0);
  height: 50%;
}

.rgbframe-strip-sequences-container {
  background-color: #b0dce6;
  height: 77%;
  overflow: auto;
}

.rgbframe-strip-patterns-container {
  border: 0.1rem solid rgb(0, 0, 0);
}

.rgbframe-strip-pattern-container {
  border-radius: 0%;
  padding-right: 10px;
  display: flex;
}

.rgbframe-strip-pattern-text{
  position: relative;
  left: 15px;
}

.rgbframe-strip-pattern-color{
  position: relative;
  top: 5px;
  left: 15px;
  height: 15px;
  width: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

.rgbframe-strip-buttons {
  position: absolute;
  bottom: 16px;
  left: 22px;
}

.rgbframe-strip-btn {
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
  font-size: 15px;
  font-weight: 100;

  /* Middle border */
  border: 0.15rem outset rgb(188, 199, 255);
  border-radius: 0.2rem;
  /* Outer border */
  outline: 0.05rem solid rgb(0, 0, 0);
  /* Bg color */
  background-color: #95b8f9;
}

.rgbframe-strip-btn.copypatt {
  position: relative;
  left: 5px;
  top: 5px;
  padding: 1px;
  font-size: 7px;
  font-weight: 600;

  height: 100%;
  /* Middle border */
  border: 0.05rem outset rgb(188, 199, 255);
  /* Bg color */
  background-color: #95b8f9;
}

.rgbframe-strip-btn.editpatt {
  position: relative;
  left: 10px;
  top: 5px;
  padding: 1px;
  font-size: 7px;
  font-weight: 600;

  height: 100%;
  /* Middle border */
  border: 0.05rem outset rgb(188, 255, 195);
  /* Bg color */
  background-color: #95f998;
}

.rgbframe-strip-btn.delpatt {
  position: relative;
  left: 15px;
  top: 5px;
  padding: 1px;
  font-size: 7px;
  font-weight: 600;

  height: 100%;
  /* Middle border */
  border: 0.05rem outset rgb(255, 188, 188);
  /* Bg color */
  background-color: #f99595;
}

.rgbframe-strip-pattern-text, .rgbframe-strip-pattern-color {
  position: relative;
  left: 20px;
}


.rgbframe-strip-btn.addpatt {
  position: relative;
  left: 5px;
  top: -5px;
  padding: 1px;
  font-size: 7px;
  font-weight: 600;

  height: 100%;
  /* Middle border */
  border: 0.05rem outset rgb(188, 199, 255);
  /* Bg color */
  background-color: #95b8f9;
}

.rgbframe-strip-btn.massedit {
  position: relative;
  left: 5px;
  top: -5px;
  padding: 1px;
  font-size: 7px;
  font-weight: 600;

  height: 100%;
  /* Middle border */
  border: 0.05rem outset rgb(188, 255, 195);
  /* Bg color */
  background-color: #95f998;
}

.rgbframe-strip-btn.massdel {
  position: relative;
  left: 5px;
  top: -5px;
  padding: 1px;
  font-size: 7px;
  font-weight: 600;

  height: 100%;
  /* Middle border */
  border: 0.05rem outset rgb(255, 188, 188);
  /* Bg color */
  background-color: #f99595;
}

.rgbframe-strip-btn.addrule, .rgbframe-strip-btn.delrule{
  color: rgb(95, 95, 95);
  position: relative;
}
.rgbframe-strip-btn.delrule{
  border: 0.15rem outset rgb(255, 188, 188);
  background-color: #f99595;
  left: 7px;
}

.rgbframe-strip-btn.addsequence, .rgbframe-strip-btn.copysequence, .rgbframe-strip-btn.delsequence{
  color: rgb(95, 95, 95);
  position: relative;
}
.rgbframe-strip-btn.copysequence{
  left: 7px;
}
.rgbframe-strip-btn.delsequence{
  border: 0.15rem outset rgb(255, 188, 188);
  background-color: #f99595;
  left: 14px;
}


/***************** Project card window *****************/
.card-container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.card-class {
  display: grid;
  height: auto;
  width: 1102px;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 3rem;
  margin: 1rem 5rem 4rem 5rem;
}

.card {
  height: 12rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: span 3;
  font-size: 1.4rem;
  padding: 2rem;
  gap: 2rem;
  position: relative;
  /*transform:  translateY(0%);*/

  /* Middle border */
  border: 0.4rem outset rgb(214, 214, 214);
  border-radius: 1.5rem;
  /* Outer border */
  outline: 0.05rem solid rgb(0, 0, 0);
  /* Bg color */
  background-color: rgb(150, 165, 247);
}

.card.expanded {
  border: 9px solid rgb(39,39,39);
  background: #ffffff;
  /*transform:  translateY(-6px);*/
}

.card xp { /* Disable display of stuff that appears when card expands */
  line-height: 2rem;
  display: none;
}

.card.active xp {
  display: block;
}

.card.active {
  cursor: default;
  grid-column: 1 / span 9;
  grid-row: 1 / span 9;
  order: 0;
  height: auto;
}

.card.is-inactive {
  grid-column: span 3;
}

/***************** Button to close project window *****************/
.close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  font-family: "Trebuchet MS";
  font-weight: 900;
  font-size: 40px;
}

.grid-home-btn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 2rem;
}

.section-title {
  font-family: "FeelfreePersonalUseRegular-lg2Bw";
  font-size: 4rem;
}

/***************** Interface panel for connecting projects *****************/
.interface-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.interface-projects-container {
  height: auto;
  width: 1102px;
  padding: 10px;
  margin-top: 15px;

  /* Inner border */
  background: linear-gradient(to top, #000000 0.25rem, transparent 0.1rem), /* bottom border */
  linear-gradient(to bottom, #000000 0.025rem, transparent 0.1rem),  /* top border */
  linear-gradient(to left, #000000 0.25rem, transparent 0.1rem),  /* right border */
  linear-gradient(to right, #000000 0.025rem, transparent 0.1rem);  /* left border */
  /* Middle border */
  border: 0.7rem outset rgb(214, 214, 214);
  border-radius: 1.5rem;
  /* Outer border */
  outline: 0.05rem solid rgb(0, 0, 0);
  /* Bg color */
  background-color: rgb(247, 150, 150);
}

.interface-projects {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 60px;
  grid-gap: 1rem;
}

.interface-item.list {
  padding: 5px;
  font-size: 0.8em;
  text-align: center;
  transform: scale(1);

  /* Middle border */
  border: 0.2rem outset rgb(255, 255, 255);
  border-radius: 0.25rem;
  /* Outer border */
  outline: 0.05rem solid rgb(0, 0, 0);
  /* Bg color */
  background-color: rgb(214, 214, 214);
}

.interface-item.list.dragging {
  opacity: 0.4;
  transform: scale(1);
}

.interface-grid-container {
  height: 502px;
  width: 1102px;
  padding: 1px;

  /* Inner border */
  background: linear-gradient(to top, #000000 0.25rem, transparent 0.1rem), /* bottom border */
  linear-gradient(to bottom, #000000 0.025rem, transparent 0.1rem),  /* top border */
  linear-gradient(to left, #000000 0.25rem, transparent 0.1rem),  /* right border */
  linear-gradient(to right, #000000 0.025rem, transparent 0.1rem);  /* left border */
  /* Middle border */
  border: 0.7rem outset rgb(214, 214, 214);
  border-radius: 1.5rem;
  /* Outer border */
  outline: 0.05rem solid rgb(0, 0, 0);

  background:
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 0px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 50px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 100px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 150px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 200px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 250px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 300px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 350px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 400px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 450px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 500px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 550px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 600px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 650px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 700px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 750px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 800px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 850px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 900px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 950px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 1000px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 1050px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 1100px 0px / 2px 100%,

  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 0px 0px / 100% 2px,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 0px 50px / 100% 2px,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 0px 100px / 100% 2px,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 0px 150px / 100% 2px,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 0px 200px / 100% 2px,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 0px 250px / 100% 2px,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 0px 300px / 100% 2px,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 0px 350px / 100% 2px,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 0px 400px / 100% 2px,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 0px 450px / 100% 2px,
  linear-gradient(rgba(204, 204, 204, 0),rgba(204, 204, 204, 0)) 0px 500px / 100% 2px,

  linear-gradient(to top, #000000 0.25rem, transparent 0.1rem), /* bottom border */
  linear-gradient(to bottom, #000000 0.025rem, transparent 0.1rem),  /* top border */
  linear-gradient(to left, #000000 0.25rem, transparent 0.1rem),  /* right border */
  linear-gradient(to right, #000000 0.025rem, transparent 0.1rem);  /* left border */

  background-color: rgb(221, 230, 195);
  background-repeat:no-repeat;
}

.interface-grid-container.active {
  background:
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 0px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 50px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 100px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 150px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 200px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 250px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 300px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 350px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 400px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 450px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 500px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 550px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 600px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 650px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 700px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 750px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 800px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 850px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 900px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 950px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 1000px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 1050px 0px / 2px 100%,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 1100px 0px / 2px 100%,

  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 0px 0px / 100% 2px,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 0px 50px / 100% 2px,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 0px 100px / 100% 2px,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 0px 150px / 100% 2px,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 0px 200px / 100% 2px,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 0px 250px / 100% 2px,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 0px 300px / 100% 2px,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 0px 350px / 100% 2px,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 0px 400px / 100% 2px,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 0px 450px / 100% 2px,
  linear-gradient(rgba(204, 204, 204, 1),rgba(204, 204, 204, 1)) 0px 500px / 100% 2px,

  linear-gradient(to top, #000000 0.25rem, transparent 0.1rem), /* bottom border */
  linear-gradient(to bottom, #000000 0.025rem, transparent 0.1rem),  /* top border */
  linear-gradient(to left, #000000 0.25rem, transparent 0.1rem),  /* right border */
  linear-gradient(to right, #000000 0.025rem, transparent 0.1rem);  /* left border */

  background-color: rgb(221, 230, 195);
  background-repeat:no-repeat;
}

.interface-grid { /* 10 x 22 */
  gap: 2px;
  display: grid;
  grid-template-columns: repeat(22, 48px);
  grid-template-rows: repeat(10, 48px);
}

.interface-item {
  padding: 5px;
  font-size: 10px;
  word-wrap: break-word;
  word-break: break-word;
  text-align: center;
  transform: scale(1);

  /* Middle border */
  border: 0.2rem outset rgb(255, 255, 255);
  border-radius: 0.25rem;
  /* Outer border */
  outline: 0.05rem solid rgb(0, 0, 0);
  /* Bg color */
  background-color: rgb(200, 200, 200);
}

.interface-item.dragging {
  opacity: 0.4;
  transform: scale(1);
}

.interface-item.mouseover {
  transform: scale(1.25);
}

.item-menu-baloon {
  opacity: 0%;
  transform: scale(0.1%) translate(0, 0);
  padding: 5px;
  font-size: 11px;
  text-align: center;
}

.line-menu-baloon {
  opacity: 0%;
  transform: scale(0.1%) translate(0, 0);
  padding: 5px;
  font-size: 11px;
  text-align: center;
}

.item-menu-baloon.active {
  opacity: 100%;
  transform: scale(1.25) translate(0, 80%);  
}

.line-menu-baloon.active {
  opacity: 100%;
  transform: scale(1.25) translate(0, 80%);  
}

.item-menu {
  box-sizing: border-box;
  position: absolute;
  text-align: left;
  list-style: none;
  white-space: nowrap;
  line-height: 160%;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border: 1px #464a43 solid;
  border-radius: 1em;
  padding: 0.6em 0.8em 0.6em 0.8em; /*Top Right Btm Left*/
  transform: translate(60%, -45%);
  color: #464a43;
  background-color: white;
}

.line-menu {
  box-sizing: border-box;
  position: absolute;
  text-align: left;
  list-style: none;
  white-space: nowrap;
  line-height: 160%;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border: 1px #464a43 solid;
  border-radius: 1em;
  padding: 0.6em 0.8em 0.6em 0.8em; /*Top Right Btm Left*/
  transform: translate(51%, -59%);
  color: #464a43;
  background-color: white;
}

.triangle-left-border {
  position: absolute;
  transform: translate(9.85%, -69%) scale(0.18);
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid #464a43;
  border-bottom: 50px solid transparent;
}

.triangle-left-white {
  position: absolute;
  transform: translate(11.45%, -69%) scale(0.18);
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid white;
  border-bottom: 50px solid transparent;
  z-index: 1;
}

.btn-menu {
  width: 100%;
  height: 100%;
  left: 10%;
  display: inline-block;
  cursor: pointer;
  background-color: white;
}

.btn-menu:hover {
  background-color: #e6e6e6;
}

.btn-menu.del:hover {
  background-color: #fd8e8e;
}

.btn-menu:active {
  background-color: #e6e6e6;
  transform: translateY(1px);
}

#connectionCanvas {
  position: absolute;
  padding-bottom: 163px;
}